---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
<main></main>
	<div id="blob"></div>
<div id="blur"></div>
	<h1 data-value="SURVIVAL">SURVIVAL</h1>
</Layout>
