---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Survival">
<main></main>
    


<div id="blob"></div> 

<div id="blur"></div>	
<Header/> 


 
	<h1 data-value="SURVIVAL">SURVIVAL</h1>
    
	<a href="rounds" class="bn5">
        BEGIN
        <span class="tooltip">If you dare💀</span>
    </a>
     
</Layout>
