---

import '../assets/css/card.css';
// import '../assets/css/button.css';
const { href, title, body, round_name} = Astro.props;
---

<!-- flip-card-container -->
<div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src={href}>
          <figcaption>{title}</figcaption>
        </figure>
  
        <ul>
          <li>{round_name}</li>
          <!-- <li>Detail 2</li>
          <li>Detail 3</li>
          <li>Detail 4</li>
          <li>Detail 5</li> -->
        </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="https://c4.wallpaperflare.com/wallpaper/70/220/916/technology-binary-numbers-code-wallpaper-preview.jpg" alt="Brohm Lake">
        </figure>
  
        <button id="btn" class="bn5">START</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>